.join {
    text-align: center;
    position: relative;
    padding-top: 30%;
    width:90%;
    height:70%;
    margin: auto;
}

.type {
    border-width: 2px;
    border-color: grey;
    border-radius: 7%;;
    margin: 15%;
    text-align: center;
    font-size: large;
    display: inline;
}

.card-img-top {
    padding-left: 35%;
    padding-top: 10%;
    width: 70%;
}

.card {
    border-width: 2px;
    margin: 15%;
    text-align: center;
    font-size: larger;
}

