.join {
    text-align: center;
    padding-top: 10%;
    margin: auto;
    width: 1000px;
}

.type {
    padding-top: 3%;
    padding-bottom: 3%;
    border-width: 2px;
    border-style:solid;
    border-color: grey;
    border-radius: 7%;;
    width: 420px;
    height: 300px;
    text-align: center;
    display: inline-block;
}

.images {
    width:120px;
    height: 120px;
    width: 50%;
}

.btn.btn-outline-secondary.btn-lg {
    width: 350px;
}


