.profile {
    margin: 20px 0;
  }
  

  .profile-sidebar {
    padding: 20px 0 10px 0;
    background: #fff;
  }
  
  .profile-userpic img {
    float: none;
    margin: 0 auto;
    width: 70%;
    height: 70%;
    -webkit-border-radius: 50% !important;
    -moz-border-radius: 50% !important;
    border-radius: 50% !important;
    border-color: #555;
  }

  .profile-usertitle {
    text-align: left;
    margin-top: 20px;
  }
  
  .profile-usertitle-job {
    text-transform: uppercase;
    font-size: 20px;
    font-weight: 600;
    margin-bottom: 15px;
  }

  #parentTitle{
    margin-left: 20%;
}

#babysitterTitle{   
    margin-left: 15%;
}

  
.profile-content {
    
  background: #fff;
  min-height: 460px;
}

  .btn.btn-outline-secondary {
    width: 20%;
    margin-top: 4%;
    margin-right: 1%;
    margin-left: 12%;
    border-color: #555;
    border-radius: 30px;
  }

  
.info p , article{
    padding: 1% 3%;
    background-color: rgb(249, 245, 231);
    width: 80%;
    color:  #555;
    border-radius: 7px;
    margin-bottom: 3%;
    display: inline-block
    margin-left: 15%;
    border-radius: 50px;
    border-style:dotted;

}


.ratings{
    margin-right:10px;
    margin-bottom: 1%;
    margin-left: 1%; 
    /* to make the stars more to the left */
 }

.ratings i{

    color:#cecece;
    font-size:25px;
   
}

.rating-color{
    color:#fbc634 !important;
}


.footer {
    font-size: smaller;
    text-align: center;
    color:rgb(155, 155, 129);
    padding-top: 50px;
    position: relative;
    left:50%;
    bottom: 0px;
    transform: translate(-50%, -50%);
  }

  .footer a {
    text-decoration: none;
    font-size: small;
    color:rgb(155, 155, 129)
  }

  .footer a:hover {
    color:#555;
    transition: 0.3s;
  }
